apiVersion: v1
kind: Namespace
metadata:
  name: hpa
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hpa-deploy
  namespace: hpa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx
        resources:
          requests:
            cpu: "20m"
          limits:
            cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: hpa-svc
  namespace: hpa
  labels:
    app: nginx
spec:
  ports:
  - port: 80
  selector:
    app: nginx 