- name: Restart containerd
  ansible.builtin.systemd:
    name: containerd
    state: restarted

- name: Enable kubelet service
  ansible.builtin.systemd:
    name: kubelet
    enabled: true
    state: started

- name: Restart kubelet
  ansible.builtin.systemd:
    name: kubelet.service
    state: restarted

- name: Copy admin kubeconfig
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/{{ ansible_user }}/.kube/config
    remote_src: true
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0600"
